<div class="page-header">
    <h1>Create Category</h1>
</div>
<div class="row">
    <div class="container">
        <form name="categoryForm" ng-submit="create(category)" novalidate>

            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="category.name" ng-model="category.name" type="text"/>
            </div>

            <a class="btn btn-default" href="#categories">Back</a>
            <button class="btn btn-primary" type="submit">Create</button>

        </form>
    </div>
</div>